{
  "openapi": "3.1.0",
  "info": {
    "title": "MOR Enterprise User Management API",
    "version": "1.0.0",
    "description": "Public REST API of the Ethiopia Ministry of Revenue (MOR) Enterprise User & Organization Management microservice. Consumed by the Annual Audit Planning system, Risk Engine, Case Management and other MOR services. All endpoints return a `{ data, error, meta }` envelope. Authenticate via POST /auth/login and send the returned JWT as `Authorization: Bearer <token>`.",
    "contact": {
      "name": "MOR Identity Platform"
    },
    "license": {
      "name": "Internal use — MOR"
    }
  },
  "servers": [
    {
      "url": "https://mor-org-forge.lovable.app",
      "description": "Current host"
    },
    {
      "url": "https://project--5b6e5edf-b9c5-43c2-b9ce-4673c71c9ab9.lovable.app",
      "description": "Production (stable)"
    },
    {
      "url": "https://project--5b6e5edf-b9c5-43c2-b9ce-4673c71c9ab9-dev.lovable.app",
      "description": "Preview (stable)"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Login, token refresh, password change and current-user context"
    },
    {
      "name": "Users",
      "description": "User CRUD, filtering, permissions, case assignment"
    },
    {
      "name": "Organization",
      "description": "Regions, tax centers, teams and their members"
    },
    {
      "name": "Permissions",
      "description": "Role catalog and permission validation"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Role": {
        "type": "string",
        "enum": [
          "senior_management",
          "audit_director",
          "regional_director",
          "tax_center_manager",
          "team_leader",
          "auditor",
          "cascade_audit_team"
        ]
      },
      "Permission": {
        "type": "string",
        "enum": [
          "approve_plans",
          "create_plans",
          "view_all_regions",
          "allocate_to_tax_centers",
          "cascade_plan_to_cases",
          "view_audit_cases",
          "assign_cases_to_auditors",
          "view_team_members",
          "update_case_execution",
          "view_audit_metrics",
          "manage_users"
        ]
      },
      "UserStatus": {
        "type": "string",
        "enum": [
          "active",
          "inactive",
          "suspended"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "full_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "employee_id": {
            "type": "string",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          },
          "status": {
            "$ref": "#/components/schemas/UserStatus"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "All concurrent status flags for the user"
          },
          "region_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "tax_center_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "team_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "last_login_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "TaxCenter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "region_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "tax_center_id": {
            "type": "string",
            "format": "uuid"
          },
          "audit_type_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          }
        }
      },
      "RoleInfo": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/Role"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          }
        }
      },
      "AuthContext": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "tokenType": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          },
          "org_context": {
            "type": "object",
            "properties": {
              "assignedRegion": {
                "type": "string",
                "nullable": true
              },
              "assignedRegionName": {
                "type": "string",
                "nullable": true
              },
              "assignedTaxCenter": {
                "type": "string",
                "nullable": true
              },
              "assignedTaxCenterName": {
                "type": "string",
                "nullable": true
              },
              "teamId": {
                "type": "string",
                "nullable": true
              },
              "teamName": {
                "type": "string",
                "nullable": true
              },
              "auditTypes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "expiresIn": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/api/public/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log in with email + password and receive a signed JWT and full user context",
        "description": "Returns an HS256 JWT (1 hour TTL) plus the caller's role, permissions and organizational context. For local integration testing a `userId` may be supplied instead of credentials.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  },
                  "userId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Test-mode impersonation"
                  }
                }
              },
              "example": {
                "email": "ahmed.hassan@mor.gov.et",
                "password": "password123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthContext"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Current user context from the bearer token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Fallback when no bearer token is supplied (test mode)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthContext"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/auth/refresh-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Exchange a valid token for a fresh one",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "tokenType": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer"
                        }
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/auth/change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Change the signed-in user's password",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "format": "password"
                  },
                  "newPassword": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        }
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log out (records an audit entry; tokens are stateless)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        }
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users (filterable)",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Role"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Region code"
          },
          {
            "name": "taxCenter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Tax center code"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/UserStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              },
              "example": {
                "full_name": "New User",
                "email": "new.user@mor.gov.et",
                "role": "auditor"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/users/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get one user (with computed permissions)",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              },
              "example": {
                "status": "inactive"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/users/by-role/{role}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users by role, optionally scoped to a tax center / audit type",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Role"
            }
          },
          {
            "name": "taxCenter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auditType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/users/{id}/permissions": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get the effective permissions for a user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "$ref": "#/components/schemas/Role"
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Permission"
                          }
                        }
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/users/{id}/audit-assignment": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List active case assignments for a user",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "cases": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Allocate (or de-allocate) a case to a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "caseId"
                ],
                "properties": {
                  "caseId": {
                    "type": "string"
                  },
                  "allocate": {
                    "type": "boolean",
                    "default": true
                  }
                }
              },
              "example": {
                "caseId": "case-2026-0001",
                "allocate": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/org/regions": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "List all regions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Region"
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/org/regions/{region}/tax-centers": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "List tax centers in a region",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Region code"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaxCenter"
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/org/tax-centers/{tcId}/users": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "List users at a tax center",
        "parameters": [
          {
            "name": "tcId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tax center id or code"
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Role"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/org/tax-centers/{tcId}/teams": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "List teams at a tax center",
        "parameters": [
          {
            "name": "tcId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tax center id or code"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "nullable": true,
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "type": "object"
                    },
                    "error": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "message": {
[...]
